# iobroker prefix.
IOB_PREFIX=""

# default image.
# IOBIMAGE_DEFAULT="buanet/iobroker:v5.1.0"

# general purpose image
GPIMAGE=alpine

# if mySQL Backup is to be done, specify parameters.
# Missing parameters switch off the mySQL Backup.
MYSQL_HOST=127.0.0.1
MYSQL_USER=iobroker
MYSQL_PASSWORD="Password123"

# Mounted directories

# directory for storing backups from backitup adapter
BACKUPDIR_DEFAULT=/opt/backups

# SSH client settings
SSH_DIR_DEFAULT=~/ssh_io
